# Configuration of the camera
camera = {
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 0; z = -130; };
    rotation = { x = 20; y = 0; z = 0; };
    fieldOfView = 72.0;
};

# Primitives in the scene
primitive = {

    obj = (
        { path = "models/Torus.obj"; }
    );

    plane = (
        { p0 = {x = 0; y = -1; z = 0}; p1 = {x = 0; y = -1 ; z = 1}; p2 = {x = 1, y = -1; z = 0}; color = { r = 50; g = 255; b = 255; }; material = "Chessboard"; }
    );
};

# Light configuration
light = {

    # List of ambient lights
    ambient = 0.1;
    # diffuse = 1.0;

    # List of point lights
    # point = (
    #     { x = 400; y = 100; z = 500; intensity = 0.8; color = { r = 255; g = 255; b = 255; }; },
    #     { x = -400.0; y = 100.0; z = -500; intensity = 0.8; color = { r = 255; g = 255; b = 255; }; }
    # );

    # List of directional lights
    directional = (
        { x = 5; y = -5; z = 2; intensity = 1; color = { r = 255; g = 255; b = 255; }; }
    );
};