# Configuration of the camera
camera = {
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 0; z = -5; };
    rotation = { x = 5; y = 0; z = 0; };
    fieldOfView = 72.0;
};

# Primitives in the scene
primitive = {
    triangle = (
        { v0 = {x = 0; y = 0; z = 1}; v1 = {x = 0; y = 1 ; z = 1}; v2 = {x = -1, y = 1; z = 1}; color = { r = 52; g = 144; b = 22; }; material = "Default"; },
        { v0 = {x = 0; y = 0; z = 1}; v1 = {x = 0; y = 1 ; z = 1}; v2 = {x = -1, y = 1; z = 1}; color = { r = 52; g = 144; b = 22; }; material = "Metal"; },
        { v0 = {x = 0; y = 0; z = 1}; v1 = {x = 0; y = 1 ; z = 1}; v2 = {x = -1, y = 1; z = 1}; color = { r = 52; g = 144; b = 22; }; material = "Chessboard"; }
    );

    plane = (
        { p0 = {x = 0; y = -1; z = 0}; p1 = {x = 0; y = -1 ; z = 1}; p2 = {x = 1, y = -1; z = 0}; color = { r = 50; g = 255; b = 255; }; material = "Chessboard"; }
    );
};

# Light configuration
light = {

    # List of point lights
    # point = (
    #     { x = 0; y = 5; z = -2; intensity = 1; color = { r = 255; g = 255; b = 255; }; }
    #     # { x = -400.0; y = 100.0; z = -500; intensity = 0.8; color = { r = 255; g = 255; b = 255; }; }
    # );

    # List of ambient lights
    ambient = (
        { intensity = 0.2; color = { r = 1; g = 1; b = 1; }; }
    );

    # List of directional lights
    directional = (
        { x = 0; y = 2; z = -2; intensity = 1; color = { r = 255; g = 255; b = 255; }; }
    );

};
